@import './_variables';
@import '@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

p,
h1,
h2,
h3,
h4,
h5,
h6,
td,
th,
label{
  color: $negro-color;
  font-family: 'Courgette', cursive;
}

.btn-success {
  background-color: $verde-color;
  border-color: $verde-color;

  &:hover {
    background-color: $verde-oscuro-color;
  }
}

.btn-warning {
  background-color: $amarillo-color;
  border-color: $amarillo-color;

  &:hover {
    background-color: $amarillo-oscuro-color;
  }
}

.active ul li a .page-link {
  background-color: $verde-color !important;
  border-color: $verde-color !important;

  &:hover {
    background-color: $verde-oscuro-color;
  }
}

.btn-fb {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
  &:hover{
    background-color: #324A80;
  }
}

.btn-twitter {
  color: #fff;
  background-color: #5DA9DD;
  border-color: #5DA9DD;
  &:hover{
    background-color: #366280;
  }
}

.btn-insta {
  color: #fff;
  background-color: #DC306E;
  border-color: #DC306E;
  &:hover{
    background-color: #801C41;
  }
}

.border-primary{
  border-color: $morado-color !important;
}